<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%-include('../head/bootstrap.ejs')%>
  </head>
  <body>
    <%-include('../head/nav.ejs')%>
    <%-include('./pleasedetail_detail.ejs')%>
  </body>
</html>
