<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <style>
        .form-signup {
            width: 100%;
            max-width: 800px;
            padding: 15px;
            margin: auto;
        }
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%-include('../head/bootstrap.ejs')%>
</head>

<body>
    <%-include('../head/nav.ejs')%>
    <%-include('./friendsadd_detail.ejs')%>
</body>

</html>